body {
  margin: 0 auto;
  background: no-repeat center url(assets/picsou.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.titre {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  border: solid 3px black;
  font-family: monospace;
  border-radius: 20px;
  padding: 20px;
  background: rgb(138, 187, 138);
  opacity: 70%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 5px black solid;
  border-radius: 20px;
  background: rgb(235, 231, 231);
  opacity: 50%;
}

.container-un {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.un {
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.container-deux {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a ."
    ". b";
  justify-items: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.deux1 {
  margin: 5px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
  grid-area: a;
}

.deux2 {
  margin: 5px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
  grid-area: b;
}

.container-trois {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a . ."
    ". b ."
    ". . c";
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.trois1 {
  grid-area: a;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.trois2 {
  grid-area: b;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.trois3 {
  grid-area: c;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.container-quatre {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.quatre1 {
  grid-area: a;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.quatre2 {
  grid-area: b;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.quatre3 {
  grid-area: c;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.quatre4 {
  grid-area: d;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.container-cinq {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a . b"
    ". c ."
    "d . e";
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.cinq1 {
  grid-area: a;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.cinq2 {
  grid-area: b;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.cinq3 {
  grid-area: c;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.cinq4 {
  grid-area: d;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.cinq5 {
  grid-area: e;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.container-six {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a  b"
    "c  d"
    "e  f";
  width: 220px;
  height: 220px;
  border: 3px black solid;
  border-radius: 20px;
}

.six1 {
  grid-area: a;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.six2 {
  grid-area: b;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.six3 {
  grid-area: c;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.six4 {
  grid-area: d;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.six5 {
  grid-area: e;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.six6 {
  grid-area: f;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 200px;
}

.button {
  text-decoration: none;
  margin: 0;
  width: 100px;
  height: 100px;
  font-family: monospace;
  font-size: large;
  font-weight: 800;
  border-radius: 20px;
  border: 3px solid black;
  opacity: 70%;
}
